body {
  background-color: #fef6ad;
  font-family: 'Poppins', sans-serif;
}

.navbar { 
    background-color:#622010;
}

.navbar-brand{
  color: #fef6ad;
}

.fw-bold {
    color: #622010;
}

.text-muted{
    color: #622010;
}

.bg-pink {
  background-color: #622010 !important;
  color: #fef6ad;
}

.btn-pink {
  background-color: #622010;
  border: none;
  color: #fef6ad;
}

.btn-outline-pink {
  border-color: #622010;
  color: #622010;
}

.btn-outline-pink:hover,
.btn-pink:hover {
  background-color: #622010;
  color: #fef6ad;
}

.logo {
  width: 100px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

label {
  font-weight: 500;
  color: #444;
}

 footer { 
      color: #fef6ad;
      background-color: #622010;
      padding: 15px; 
      text-align: center; 
      margin-top: 30px; 
    }
